<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fisok.sqloy.serialnum.cursor.mapper.SerialNumberCursorMapper">
    <resultMap id="serialNoMap" type="cn.fisok.sqloy.serialnum.model.SerialNumberCursor">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="TEMPLATE" property="template" jdbcType="VARCHAR" />
        <result column="CURSOR_VALUE" property="cursorValue" jdbcType="BIGINT" />
        <result column="UPDATED_TIME" property="updatedTime" jdbcType="DATE" />
    </resultMap>
    
    <select id="findOne" resultMap="serialNoMap" parameterType="java.lang.String">
        select
        *
        from FSWK_SERIAL_NUMBER
        where ID=#{id}
    </select>

    <insert id="insertOne" parameterType="cn.fisok.sqloy.serialnum.model.SerialNumberCursor">
        insert into FSWK_SERIAL_NUMBER(ID,TEMPLATE,CURSOR_VALUE,UPDATED_TIME) values(#{id},#{template},#{cursorValue},#{updatedTime})
    </insert>

    <update id="increase" parameterType="cn.fisok.sqloy.serialnum.model.SerialNumberCursor">
        update FSWK_SERIAL_NUMBER
        set CURSOR_VALUE=CURSOR_VALUE+1,UPDATED_TIME=#{updatedTime}
        where ID=#{generatorId}
    </update>

    <update id="increaseBatch" parameterType="cn.fisok.sqloy.serialnum.model.SerialNumberCursor">
        update FSWK_SERIAL_NUMBER
        set CURSOR_VALUE=CURSOR_VALUE+#{count},UPDATED_TIME=#{updatedTime}
        where ID=#{generatorId}
    </update>
    
</mapper>
